{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <main>
        <img src="images/logo.jpg" alt="logotipo Rocketseat">
        <h1>Rocketseat</h1>
        <p>Plataforma de educação em tecnologia</p>
        <h3>Aqui você aprende:</h3>
        <ul>
            <li>Javascript</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>React Native</li>
        </ul>
    </main>

    <footer>
        <div class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>
    </footer>
{% endblock %}