<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">

    {% block head %}{% endblock %}

</head>

<body>
    <header>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
            <a href="/courses">Conteúdos</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>