{% extends "layout.njk" %}

{% block head %}
    <title>Oops!</title>
{% endblock %}

{% block content %}
    <section class="not-found">
        <div class="wraper-not-found">
            <h1>404</h1>
            <h2>Página não encontrada</h2>
        </div>
    </section>
{% endblock %}